<%- include('partials/header.ejs'); -%>

<div id="list">
  <h1>Books I read</h1>
  <p>A list of books that I read and wrote reviews about.</p>
  <% if (locals.error) { %>
  <p class="error"><%= error %></p>
  <% } %>
    <section>
        <h2>List</h2>
        <form action="/addBook" method="post">
            <input type="hidden" name="add" value="book" />
            <button type="submit">Add new book</button>
        </form>
        <% if (locals.books) { %> 
        <% books.forEach(function(book){ %>
        <div class="card">
            <img
                src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-L.jpg"
                height="300"
                width="200"
            />
            <form action="deleteBook" method="post">
                <input type="hidden" name="deleteBookId" value="<%= book.id%>" />
                <button type="submit">Delete book</button>
            </form>
            <p><strong>Title: </strong> <%= book.title %></p>
            <p><strong>Author: </strong><%= book.author%></p>
            <p><strong>Synopsis: </strong><%= book.synopsis %></p>
            

            <form action="/addReview" method="post">
                <input type="hidden" name="add" value="review" />
                <input type="hidden" name="bookId" value="<%= book.id %>" />
                <button type="submit">Add review</button>
            </form>

        
            <p><strong>Reviews:</strong></p>
            <% if (locals.reviews) { %> 
            <% reviews.forEach(function(review){ %> <%
            if (review.book_id === book.id){ %>
            <ul>
            <li><%= review.review %></li>
            </ul>
            <form action="/editReview" method="post">
            <input type="hidden" name="edit" value="review" />   
            <input type="hidden" name="editReviewId" value="<%= review.id%>" />
            <button type="submit">Edit review</button>
            </form>
            <form action="/deleteReview" method="post">
            <input type="hidden" name="deleteReviewId" value="<%= review.id%>" />
            <button type="submit">Delete review</button>
            </form>
            <p><strong>Rating: </strong><%= review.rating %></p>
            <% } %>
             <% }) %>
             <% } else { %>
            <p>No reviews available</p>
            <% } %>
        
            <% }) %> 
            <% } else { %>
            <p>No book detail available</p>
            <% } %>
        </div>
    </section>
</div>

<%- include('partials/footer.ejs'); -%>
